$navbar-background-color: rgb(230, 230, 230);
$navbar-item-color: black;
@import "node_modules/bulma/bulma.sass";

#boxy {

  background-color: $navbar-background-color;

}



* {
  font-family: Questrial;
}